<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.se_team8.dongguk_usedbook_market">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launchermap"
        android:label=" "
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".MypageActivity"></activity>
        <activity android:name=".SellerRegisterActivity"></activity>
        <activity android:name=".ResultsActivity"></activity>
        <activity android:name=".BookDetailsActivity"> </activity>
        <activity android:name=".BuyerSearchActivity"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>